/* styles.css */

html,
body {
    height: 100%;
    font-family: 'Emilys Candy', cursive;
  }


img {
    max-width: 100%;
}

/* cover */

#cover {
    background: #222 url('img/kytica-a-tvar-cover.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

/*buttons*/ 

#btn-contact {
    background-color: plum;
    border-color: pink;
}