/* styles.css */

/* #e7e5e8, #b62ca9, #b75fad  */

html,
body {
    /*height: 100%;*/
    font-family: 'Emilys Candy', cursive;
  }

img {
    max-width: 100%;
}

/* navbar */
.navbar-light .navbar-nav .nav-link {
    color: #b75fad;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #b62ca9;
}

/* cover */

#cover {
    background: #222 url('img/kytica-a-tvar-cover.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

/* buttons */ 

#btn-contact {
    background-color: #b75fad;
    border-color: #b75fad;
}

#btn-contact:hover {
    background-color: #b62ca9;
    border-color: #b75fad;
}

.btn-outline-primary {
    border-color: #b75fad;
    color: #b75fad;
}

.btn-outline-primary:hover {
    border-color: white;
    background-color: #b75fad;
    color: #e7e5e8;
}

/* sections */

.section-content {
    padding: 5rem 0;
}

#products,
#reviews {
    background-color: white;
}

/* about */

#about {
    background: url(img/kytica\ tombola.jpg) center center no-repeat;
    background-size: cover;
}

.about-text {
    background: rgba(0,0,0,0.4);
    color: white;
    padding: 1.875rem;
}

#special-review {
    background-color: #b75fad;
}

.pagination {
    color: #b75fad
}

#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}